.env
**/node_modules/**
**/etc/**
*.zip

## Ignore compiled python files
*.pyc

## Ignore the virtual environment
codesplain-env/

# Ignore test config
config.json

# Ignore zips directory
zips/

.DS_Store