.env
**/node_modules/**
**/etc/**
*.zip

## Ignore compiled python files
*.pyc

## Ignore the virtual environment
codesplain-env/
.Python
bin
include
lib
pip-selfcheck.json

# Ignore test config
config.json
